API/MetricFlow.WebApi/bin/
API/MetricFlow.WebApi/obj/
BusinessLogic/BusinessLogic/bin/
BusinessLogic/BusinessLogic/obj/
BusinessLogic/BusinessLogic.Contract/bin/
BusinessLogic/BusinessLogic.Contract/obj/
BusinessLogic/BusinessLogic.DI/bin/
BusinessLogic/BusinessLogic.DI/obj/
DataAccess/DataAccess/bin/
DataAccess/DataAccess/obj/
DataAccess/DataAccess.Contract/bin/
DataAccess/DataAccess.Contract/obj/
DataAccess/DataAccess.DI/bin/
DataAccess/DataAccess.DI/obj/
Tests/MetricFlow.Api.Tests/bin/
Tests/MetricFlow.Api.Tests/obj/
Tests/Requests
nginx.conf
docker-compose.yml
MetricFlow.sln.DotSettings.user
API/MetricFlow.WebApi/Metric.Flow.Database
.git
.idea